<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>loan prediction</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">

	<link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
	<!--------header---->
	<header class="contact">
		<a href="{{url_for('man')}}" class="logo"><figure><img src="static/img/logo.png"></figure></a>
		<a href="{{url_for('man')}}" class="top-btn">Home</a>
		<a href="#service" class="btn">About Us</a>
		<a href="{{url_for('form')}}" class="btn">Prediction</a>
	</header>

	<!--------home---->
	<section class="home" id="home">
		<div class="home-text">
			<h1>Loan <span>Prediction</span></h1>
			<h5>we will see whether<span> our client get loan or not</span></h5>
			<p>we have create this website in order to help someone whether they will get loan or not</p>
			<div class="social">
				<a href="#"><i class='bx bxl-facebook'></i></a>
				<a href="#"><i class='bx bxl-twitter' ></i></a>
				<a href="#"><i class='bx bxl-linkedin' ></i></a>
			</div>
		</div>

		<div class="home-img">
			<figure><img src="static/img/bank.jpeg"></figure>
		</div>
	</section>	

	<!--------service---->
	<section class="service" id="service">
		<div class="heading" id="heading">
			<h3>About Us</h3>
			<h2>What are the role of each?</h2>
			<p>While working on the project what role we have played in order to complete our project  </p>
		</div>

		<div class="service-content">
			<div class="row">
				<div class="s s-one">
					<img src="static/img/humble.jpeg">
				</div>
				<h3>Lead Programmer</h3>
				<h5>Passionate<span> Basket Ball</span></h5>
				<p>Name: Tshering Wangchuk</p>
				<p>Course: BscIT </p>
				<p>Year: Third year</p>
				<p>Email: 12190099.gcit@rub.edu.bt</p>
			</div>

			<div class="row">
				<div class="s s-tow">
					<img src="static/img/keza.jpeg">
				</div>
				<h3>Junior Programmer</h3>
				<h5>Eat Sleep <span>Repeat</span></h5>
				<p>Name: Kezang Dorji</p>
				<p>Course: BscIT </p>
				<p>Year: Third year</p>
				<p>Email: 12190059.gcit@rub.edu.bt</p>
			</div>

			<div class="row">
				<div class="s s-three">
					<img src="static/img/chokey.jpeg">
				</div>
				<h3>Team Leader</h3>
				<h5>Simple<span> Silence Killer</span></h5>
				<p>Name: Cheki Lhamo</p>
				<p>Course: BscIT </p>
				<p>Year: Third year</p>
				<p>Email: 12190043.gcit@rub.edu.bt</p>
			</div>

			<div class="row">
				<div class="s s-four">
					<img src="static/img/thinley.jpeg">
				</div>
				<h3>UI Designer</h3>
				<h5>Funny<span> Dangerous</span></h5>
				<p>Name: Thinley Wangmo</p>
				<p>Course: BscIT </p>
				<p>Year: Third year</p>
				<p>Email: 12190089.gcit@rub.edu.bt</p>
			</div>

		</div>
	</section>
	<hr>

	<!--------work---->
	<section class="cta">
		<div class="heading">
			<h2>A bank's profit or a loss depends to a large extent on loans i.e. whether the customers are paying back the loan or defaulting. By predicting the loan defaulters, the bank can reduce its Non- Performing Assets.</h2>
		</div>
		<hr style="margin-top: 70px;">

		<div class="cta-box">
			<div class="wrap one">
			<div class="home-img">
			<img src="static/img/money.jpeg">
		</div>
				<h3>Loan Prediction</h3>
				<p>Get Loan and Pay it without failure</p>
			</div>

		</div>
	</section>

	<!--------ends---->
	<div class="ends">
		<p>Giving them a loan that they can repay later</p>
	</div>

	<script src="https://unpkg.com/scrollreveal"></script>

	<!--------Link to js---->
	<script type="text/javascript" src="js/script.js"></script>
	
</body>
</html>